{% extends 'base.html.twig' %}

{% block title %}Hello BrandController!{% endblock %}

{% block body %}
    <div class="e-titleBrand">
<h1 style="color:rgb(97,189,255); opacity: 100%; font-family: 'Anton', sans-serif; font-size:xxx-large">Sélectionner la marque du téléphone</h1>
    </div>
    <img class="e-color" src="{{ asset('/images/color-logo.png') }}" style="rotate: 70deg;">

    <section class="e-brandBoxPage">
        <div class="e-oneBrandSn">
            <img class="e-logoBrand" src="{{ asset('/images/sony.png') }}">
        </div>
        <div class="e-oneBrandAp">
            <img class="e-logoBrand" src="{{ asset('/images/apple.png') }}">
        </div>
        <div class="e-oneBrandHw">
            <img class="e-logoBrand" src="{{ asset('/images/huawei.png') }}">
        </div>
        <div class="e-oneBrandHw">
            <img class="e-logoBrand" src="{{ asset('/images/huawei.png') }}">
        </div>
        <div class="e-oneBrandXm">
            <img class="e-logoBrand" src="{{ asset('/images/xiaomi.png') }}">
        </div>
        <div class="e-oneBrandSs">
            <img class="e-logoBrand" src="{{ asset('/images/samsung.png') }}">
        </div>
    </section>
        {% endblock %}
