{% extends 'base.html.twig' %}

{% block title %}Hello BrandController!{% endblock %}

{% block body %}
    <div class="container-brand">
        <h2 class="title-brand">
            <span class="title-word title-word-1">Sélectionnez</span>
            <span class="title-word title-word-2">la</span>
            <span class="title-word title-word-3">marque</span>
            <span class="title-word title-word-4">du</span>
            <span class="title-word title-word-1">mobile</span>
        </h2>
    <section class="e-brandBoxPage">
        <div class="e-oneBrandSn">
            <img class="e-logoBrand" src="{{ asset('/images/sony.png') }}">
        </div>
        <div class="e-oneBrandAp">
            <img class="e-logoBrand" src="{{ asset('/images/apple4.png') }}">
        </div>
        <div class="e-oneBrandHw">
            <img class="e-logoBrand" src="{{ asset('/images/huawei.png') }}">
        </div>
        <div class="e-oneBrandHw">
            <img class="e-logoBrand" src="{{ asset('/images/huawei.png') }}">
        </div>
        <div class="e-oneBrandXm">
            <img class="e-logoBrand" src="{{ asset('/images/xiaomi.png') }}">
        </div>
        <div class="e-oneBrandSs">
            <img class="e-logoBrand" src="{{ asset('/images/samsung.png') }}">
        </div>
    </section>
    {% include 'module/footer.html.twig' %}
{% endblock %}