{% extends 'base.html.twig' %}

{% block title %}Hello BrandController!{% endblock %}

{% block body %}
    <div class="container-brand">
        <h2 class="title-brand">
            <span class="title-word title-word-1">Sélectionnez</span>
            <span class="title-word title-word-2">la</span>
            <span class="title-word title-word-3">marque</span>
            <span class="title-word title-word-4">du</span>
            <span class="title-word title-word-1">mobile</span>
        </h2>
    <section class="e-brandBoxPage">
        <div class="e-oneBrandSn">
            <a href="{{ path('sony_new') }}"><img class="e-logoBrand" src="{{ asset('/images/sony.png') }}"></a>
        </div>
        <div class="e-oneBrandAp">

            <a href="{{ path('iphone_new') }}">
           <img class="e-logoBrand" src="{{ asset('/images/apple4.png') }}"></a>

        </div>
        <div class="e-oneBrandHw">
            <a href="{{ path('lg_new') }}"><img class="e-logoBrand" src="{{ asset('/images/lg.png') }}"></a>
        </div>
        <div class="e-oneBrandHw">
            <a href="{{ path('huawei_new') }}"><img class="e-logoBrand" src="{{ asset('/images/huawei.png') }}"></a>
        </div>
        <div class="e-oneBrandXm">
            <a href="{{ path('xiaomi_new') }}"><img class="e-logoBrand" src="{{ asset('/images/xiaomi.png') }}"></a>
        </div>
        <div class="e-oneBrandSs">
            <a href="{{ path('samsung_new') }}"><img class="e-logoBrand" src="{{ asset('/images/samsung.png') }}"></a>
        </div>
    </section>
    {% include 'module/footer.html.twig' %}
{% endblock %}