{% extends 'base.html.twig' %}

{% block title %}Hello BrandController!{% endblock %}

{% block body %}
    <div class="e-titleBrand">
<h1>Sélectionner la marque du téléphone</h1>
    </div>

    <section class="e-brandBoxPage">
        <div class="e-oneBrand">
            <img class="e-logoBrand" src="{{ asset('/images/huawei.jpg') }}">
        </div>
        <div class="e-oneBrand">
            <img class="e-logoBrand" src="{{ asset('/images/apple.png') }}">

        </div>
        <div class="e-oneBrand">
            <img class="e-logoBrand" src="{{ asset('/images/sony.jpg') }}">
        </div>
        <div class="e-oneBrand">
            <img class="e-logoBrand" src="{{ asset('/images/xiaomi.jpg') }}">
        </div>
        <div class="e-oneBrand">
            <img class="e-logoBrand" src="{{ asset('/images/apple.png') }}">
        </div>
        <div class="e-oneBrand">
            <img class="e-logoBrand" src="{{ asset('/images/lg.png') }}">
        </div>
    </section>
{% endblock %}
