{% extends 'base.html.twig' %}

{% block title %}Récapitulatif{% endblock %}

{% block body %}



    <div class="row">

        <div class="col-3 d-flex justify-content-center align-items-center">
            <img src="{{ asset('/images/Capture.png') }}" alt="" class="e-img"
                 style="height:70vh; width:25vw; margin-left:8%; position:absolute; z-index: 4">
        </div>

        <div class="col-6">
            <div class="d-flex justify-content-center align-items-center" style="background-color: #00ACB0; z-index: -10; margin-top: -45px; height: 500px; width: 500px; border-radius: 50%; position: absolute; margin-left:105px; opacity: 25% "></div>
            <div class="my-5 mx-5 text-center">
                {% for telephone in telephone %}
                    <p style="font-family: 'Knewave', cursive; font-size: 75px"><strong>{{ telephone.model.name }}</strong></p>
                <div class="d-flex align-items-center flex-column">
                    <div class="d-flex align-items-center">
                        <p style="width:100px"><b>Mémoire :</b></p>
                        <button class="btn text-white p-3 mb-2 mx-5 sumBtn d-flex align-items-center justify-content-center"
                                style="border: none;">{{ telephone.memory.name }}</button>
                    </div>
                    <div class="d-flex align-items-center">
                        <p style="width:100px"><b>RAM :</b></p>
                        <button class="btn text-white p-3 mb-2 mx-5 sumBtn d-flex align-items-center justify-content-center"
                                style="border: none;">{{ telephone.ram.name }}</button>
                    </div>
                    <div class="d-flex align-items-center">
                        <p style="width:100px"><b>Etat :</b></p>
                        <button class="btn text-white p-3 mb-2 mx-5 sumBtn d-flex align-items-center justify-content-center"
                                style="border: none;">{{ telephone.status.name }}</button>
                    </div>
                    <button class="btn btn-primary text-white p-3 mb-2 sumBtnCustom"
                            style="border: none; width: 410px; height: 70px; margin-top: 50px">Prix de vente
                        conseillé <b><i> {{ telephone.estimatedPrice }} € </i></b></button>
                </div>
                    {% endfor %}
                <br>
                <button type="button" class="btn btn-outline-dark mx-lg-4" style="width: 180px; height: 50px;"><a
                            href="">Retour</a></button>
                <button type="submit" class="sumBtnCustom btn btn-primary mx-lg-4"
                        style="border: none; width: 180px; height: 50px;">Enregistrer
                </button>
            </div>
        </div>

        <div class="col-3">
            <div class="d-flex justify-content-end">
                <img src="{{ asset('/images/background_logo.png') }}" alt=""
                     style="position: fixed; bottom: 0; right: 0;">
            </div>
        </div>
    </div>

{% endblock %}
