<nav class="navbar navbar-expand-lg bg-body-white">
    <div class="container-fluid">

        <a class="navbar-brand" href="{{ path('app_brand') }}"><img class="e-logoBrand" src="{{ asset('/images/logo-emmaus.png') }}" style="height:100%; width:10vw"></a>

        <div class="collapse navbar-collapse justify-content-center flex-grow-none
" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <div class="dropdown">
                    <a class="btn text-muted dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_brand') }}">Ajouter un smartphone</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_telephone_index') }}">Stock des smartphones</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_static_faq') }}">FAQ</a></li>
                        <li><a class="dropdown-item" href="{{ path('admin') }}">EasyAdmin</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>