<div class="d-flex">

    <div class="e-width">
    <img src="{{ asset('/images/apple.png') }}" alt="" class="e-img">
    </div>

    <div class="d-flex justify-content-center e-form me-5"  style="flex-direction: column">

        <div class="">

            <div class="vh-100 d-flex flex-wrap" id="model">
                {{ form_start(form) }}
                {{ form_row(form.model) }}
                {{ form_row(form.cable_charger) }}
                <div class="" style="padding-left: 1.5rem">
                    <a class="btn btn-outline-dark btn-lg px-5" style="background-color: #00ACB0; color: white; margin-right: 10px" href="#memory">Next</a>
                </div>
            </div>

            <div class="vh-100 d-flex flex-wrap" id="memory">
                {{ form_row(form.memory) }}
                <div class="" style="padding-left: 1.5rem">
                    <a class="btn btn-outline-dark btn-lg px-5" style="background-color: #00ACB0; color: white; margin-right: 10px" href="#model">Return</a>
                    <a class="btn btn-outline-dark btn-lg px-5" style="background-color: #00ACB0; color: white" href="#network">Next</a>
                </div>
            </div>

            <div class="vh-100 d-flex flex-wrap" id="network">
                {{ form_row(form.network) }}
                {{ form_row(form.status) }}
                <div class="" style="padding-left: 1.5rem">
                <a class="btn btn-outline-dark btn-lg px-5" style="background-color: #00ACB0; color: white; margin-right: 10px" href="#memory">Return</a>
                <a class="btn btn-outline-dark btn-lg px-5" style="background-color: #00ACB0; color: white" href="#RAM">Next</a>
                </div>
            </div>

            <div class="vh-100 d-flex flex-wrap" id="RAM">
                {{ form_row(form.RAM) }}
                <div class="" style="padding-left: 1.5rem">
                <a class="btn btn-outline-dark btn-lg px-5" style="background-color: #00ACB0; color: white; margin-right: 10px"  href="#network">Return</a>
                <button class="btn btn-outline-dark btn-lg px-5" type="submit" style="background-color: #00ACB0; color: white">{{ button_label|default('Save') }}</button>
                </div>
                </div>

        </div>

    </div>



    {{ form_end(form) }}
</div>

