<div class="d-flex">
<div class="e-width" style="position:fixed; top:300px; transform: translateY(13%) translateX(2%)">
    <div class="e-blue-square" style="width:19.5vw; height: 33vh; background-color: #61BDFF; opacity: 0.33;z-index:1; position: absolute; transform: translateY(-72%); rotate:30deg;"></div>
    <div class="e-yellow-square" style="width:19.5vw; height: 33vh; background-color: #FFB84D; opacity: 0.33;z-index:1; position: absolute; transform: translateY(-50%) translateX(11%)"></div>
    <img src="{{ asset('/images/iphone-addNewTel.png') }}" alt="" class="e-img" style="height:50vh; width:20vw; margin-left:8%; position:absolute; z-index: 4">
</div>
<div class="d-flex justify-content-center e-form me-5 ml-3"  style="margin-left: 30%;">
    <div class=" d-flex">
{{ form_start(form) }}
{{ form_row(form.model) }}
        <div class="d-flex justify-content-center">
{{ form_row(form.memory) }}
    </div>
{{ form_row(form.network) }}
{{ form_row(form.status) }}
        <div>
{{ form_row(form.RAM) }}
    </div>
        <div class="d-flex justify-content-center">
{{ form_row(form.cable_charger) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
</div>
</div>