{% extends 'base.html.twig' %}

{% block title %}Telephone index{% endblock %}

{% block body %}
    <h1>Telephone index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>model</th>
            <th>ram</th>
            <th>memoire</th>
            <th>Réseau</th>
            <th>Cable_charger</th>
            <th>Etat</th>
            <th>EstimatedPrice</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for telephone in telephones %}
            <tr>
                <td>{{ telephone.id }}</td>
                <td>{{ telephone.model.name }}</td>
                <td>{{ telephone.ram.name }} go</td>
                <td>{{ telephone.memory.name }} go</td>
                <td>{{ telephone.network.name }}</td>
                <td>{{ telephone.status.name }}</td>
                <td>{{ telephone.cableCharger ? 'Yes' : 'No' }}</td>
                <td>{{ telephone.estimatedPrice }}</td>
                <td>{{ telephone.createdAt ? telephone.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ telephone.updatedAt ? telephone.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_telephone_show', {'id': telephone.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lg_new') }}">Create new</a>
{% endblock %}
