{% extends 'base.html.twig' %}

{% block title %}Telephone{% endblock %}

{% block body %}
    <h1>Telephone</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ telephone.id }}</td>
            </tr>
            <tr>
                <th>Cable_charger</th>
                <td>{{ telephone.cableCharger ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>EstimatedPrice</th>
                <td>{{ telephone.estimatedPrice }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ telephone.createdAt ? telephone.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ telephone.updatedAt ? telephone.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_telephone_index') }}">back to list</a>

    <a href="{{ path('app_telephone_edit', {'id': telephone.id}) }}">edit</a>


{% endblock %}
