{% extends 'base.html.twig' %}

{% block title %}Telephone index{% endblock %}

{% block body %}
    <h2 class="title-brand" style="text-align:center; margin-bottom: 5%">
        <span class="title-word title-word-1">Liste</span>
        <span class="title-word title-word-2">des</span>
        <span class="title-word title-word-3">télephones</span>
        <span class="title-word title-word-4">Sony</span>
    </h2>


    <table class="table" style="width:80vw; margin-left: 10%; box-shadow: darkgray 1px 1px 1px 1px">
        <thead>
        <tr>
            <th>Id</th>
            <th>model</th>
            <th>ram</th>
            <th>memoire</th>
            <th>Réseau</th>
            <th>Cable_charger</th>
            <th>Etat</th>
            <th>EstimatedPrice</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for telephone in telephones %}
            <tr>
                <td>{{ telephone.id }}</td>
                <td>{{ telephone.model.name }}</td>
                <td>{{ telephone.ram.name }} go</td>
                <td>{{ telephone.memory.name }} go</td>
                <td>{{ telephone.network.name }}</td>
                <td>{{ telephone.status.name }}</td>
                <td>{{ telephone.cableCharger ? 'Yes' : 'No' }}</td>
                <td>{{ telephone.estimatedPrice }}</td>
                <td>{{ telephone.createdAt ? telephone.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ telephone.updatedAt ? telephone.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_telephone_show', {'id': telephone.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>a
        {% endfor %}
        </tbody>
    </table>
    <div class="add-new-by-form" style="display: flex; justify-content: center; margin-right:5%">
        <a class="btn btn-outline-dark btn-lg px-5" style="background-color: #00ACB0; color: white; width:150px; margin-top:3%; border: none" href="{{ path('apple_new') }}">Ajouter</a>
    </div>
    <div class="e-logoPageFaq d-flex d-flex-row-reverse">
        <img src="{{ asset('/images/logoConnect.png') }}" alt="" class="tata">
    </div>
{% endblock %}
